@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --violet: #8A2BE2;
    --violet2: #a03bff;
    --blue: #1E90FF;
    --orange: #ff961e;
    --blue_t: #0017c6;
    --blue_v: #2501FF;
    --blue_f: #010035;
    --white: #FFFFFF;
    --whitesmoke: #f3f3f3;
    --cinza: #A9A9A9;
    --cinza_t: #5D5B8A;
    --cinza_v: #35354D;
    --black: #000010;
    --black_t: #262525;
    --purple: #C1A6FA;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue_f);
}

.form-signup {
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-signup .sign {
    text-align: center;
    margin-bottom: 40px;
}

.form-signup .sign h3 {
    font-weight: 500;
    font-size: 24px;
    color: var(--cinza_t);
}

.form-signup .input {
    position: relative;
    margin-bottom: 30px;
}

.form-signup .input i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--blue_v);
    font-size: 18px;
}

.form-signup .input input[type="text"],
.form-signup .input input[type="email"],
.form-signup .input input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    border-radius: 5px;
    background: var(--cinza_v);
    color: var(--whitesmoke);
    font-size: 16px;
}

.form-signup .agree-terms {
    margin-bottom: 20px;
}

.form-signup .agree-terms label {
    color: var(--whitesmoke);
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.form-signup .agree-terms input {
    margin-right: 5px;
}

.form-signup input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: var(--blue_t);
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.form-signup input[type="submit"]:hover {
    background: var(--blue_v);
}
